.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.ul{
    border-radius: 90px;
    background-color: #00a1f5;
    display:inline-flex;
    list-style-type: none;
    margin: 26px 0px 26px 0px;
    padding:10px;
}

.li{
    list-style: none;
}

.a {
    color:white;
    text-decoration:none;
    margin: 2px;
    padding: 10px;
}

.a:hover {
    color:#0d4870;
    background-color:#6ddef6;
}

.divblue{
    background-color:#00a1f5;
    padding: 10px;
}