.button{
    background-color: #5ac5dd;
    border: none;
    border-radius:  5px;
    padding: 10px  50px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color:white;
}
.button:hover{
    background-color:#0d4870;
    
}

.input{
    border-radius: 5px;
    padding: 10px 40 px;
    border: none;
    outline: none;
    width: 400px;
    height: 35px;
    margin-right: 5px;
}